h1{
    color:purple;
}
h4{
    color:lightseagreen;
}
h2{
    color:crimson;
}
h1{
    font-style:italic;
}
h1{
    color:black;
}
li{
    font-weight:300;
}
li{
    font-style: italic;
}
li{
    color:darkred
}
td{
    table-layout:initial;
    width:inherit;
    color:darkmagenta;
}